.listItem {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  font-size: 1.75em;
  background-color: rgba(25,25,25,0.25);
  margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
  .listItem {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 500px) {
  .listItem {
    font-size: 1em;
  }
}
